body{
    margin:0;
    font-family: Arial;
    background:#0f172a;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.atm{
    width:380px;
    background:#111827;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 20px black;
}

.screen{
    background:#020617;
    padding:20px;
    border-radius:10px;
    color:white;
    text-align:center;
}

input, select{
    width:90%;
    padding:10px;
    margin:5px;
    border-radius:5px;
    border:none;
}

button{
    width:90%;
    padding:10px;
    margin:5px;
    background:#1d4ed8;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#2563eb;
}

.hidden{
    display:none;
}

#resultado{
    margin-top:10px;
    background:black;
    padding:10px;
    border-radius:5px;
    white-space:pre-line;
}
